@import "styles/base";

.searchBox {
    display: flex;
    align-items: center;
    padding: $ruler*0.5 $ruler*2;
    width: auto;
}

.searchInput {
    padding: $ruler;
    appearance: none;
    border: none;
    background-color: inherit;
}

.searchInput:focus {
    outline: none;
}
