@import "styles/base";

form {
    max-width: $ruler*30;
    margin: 0 auto;
}

header {
    margin-bottom: $ruler;
}

.formControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $ruler*3;
}
  
.formElement {
    display: block;
    border: 0;
    outline: 0;
    border-radius: $ruler*20;
    background-color: $color-bg;
    text-shadow: 1px 1px 0 $color-white;
    box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    box-sizing: border-box;
    width: 100%;
    padding: $ruler;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

.formElement.error {
    border-color: $color-red;
}

.submitButton {
    color: $color-red;
    max-width: $ruler*20;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.green {
    color: green;
}

.validationMessage {
    line-height: 2.5;
    padding: $ruler*0.5;
    padding-right: $ruler;
    align-self: flex-end;
    color: $color-red;
}