@import "styles";

.App-logo {
  height: 85px;
  @media (min-width: $tablet-min-width) {
    height: 105px;
  }
  @media (min-width: $desktop-min-width) {
    height: 125px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
