@import "styles/base";

label.fileSelectorWrapper {
    border: 4px dashed $color-shadow;
    position: relative;
    border-radius: 0;
    height: $ruler*16;
    width: $ruler * 19;
    padding: $ruler*2;
}

.fileSelectorWrapper p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fileSelectorWrapper p span {
    line-height: 1.5;
}

.fileSelectorWrapper input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}