@import "styles/base";

span.item {
  display: block;
}

.chevron-down {
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
    color: $color-grey;
  }

.szh-accordion {
  border-bottom: 1px solid #ccc;
  &__item {
    border-top: 1px solid #ccc;

    &-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 1rem;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      color: black;
      background-color: transparent;
      border: none;
      &:hover {
        background-color: #f3f3f3;
      }
    }

    &-content {
      transition: height 0.25s cubic-bezier(0, 0, 0, 1);
    }

    &-panel {
      padding: 1rem;
    }

    &--expanded {
      .szh-accordion__item-btn {
        background-color: #e7e7e7;
      }
      .chevron-down {
        transform: rotate(180deg);
      }
    }
  }
}

.emailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $ruler*0.5;
  padding: $ruler;

  @media screen and (min-width: $medium-min-width) {
    justify-content: flex-end;
  }
}

.emailIcon {
  margin-right: $ruler*0.5;
}

.emailContainer a {
  color: blue;
  align-self: baseline;
  text-decoration: none;
}

.emailContainer a:hover {
  text-decoration: underline;
}

.accordionContent {
  margin: $ruler*0.5;
}