@import "styles/base";


.appContainer {
  text-align: center;
  min-width: $ruler*20;
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: $ruler*3 0px;
}